{% extends "base.html" %}
{% block content %}
<form class="margin10" action="" method="POST">
	{% csrf_token %}<input type="submit" class="button bg-hover-blue fg-hiver-white" value="Download Emails">
</form>
<div class="notify bg-darkMagenta fg-white" style="max-width: 100%; margin-top: 20px">
    <span class="notify-text">We currently have {{ num_of_students }} Student Participants!</span>
</div>
<table class="table striped hovered cell-hovered border bordered" id="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
          <td>{{ student.first_name }}</td>
          <td>{{ student.last_name }}</td>
          <td>{{ student.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        $("#table").DataTable({
          paging: false
        });
    });
</script>
{% endblock %}
