{% extends "base.html" %}
{% block content %}
<a href="/"><header class="title">ACM/AITP<br>Student Emails</header></a>
<p>
  We currently have {{ num_of_students }} Student Participants!
</p>
<form action="" method="POST">{% csrf_token %}<input type="submit" value="Download Emails"></form>
<table class="emails" id="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
          <td>{{ student.first_name }}</td>
          <td>{{ student.last_name }}</td>
          <td>{{ student.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        $("#table").DataTable();
    });
</script>
{% endblock %}
