*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background: url("../images/random_grey_variations.png") repeat;
  color: #ffffff;
}

.title{
  margin-top: 10px;
  margin-left: 50px;
  font-size: 370%;
  margin-bottom: 55px;
  padding-left: 25px;
  width: 45%;
  background-color: #6399AB;
  border-radius: 25px 10px;
  border: 1px black solid;
}

.child_title{
    background-color: #6399AB;
    text-align: center;
    font-size: 150%;
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin-bottom: 25px;
}

.signup{
  font-size: 150%;
  width: 600px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: auto;
  background-color: #0082AD;
  border-radius: 5px 5px 5px 5px;
  padding: 20px 0px 20px 20px;
}

.register_links{
  font-size: 150%;
  margin-bottom: 25px;
}

label{
  display: inline-block;
  width: 370px;
}

input{
  display: inline-block;
}

.signup-btn{
  display: block;
  margin-left: 480px;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  font-size: 90%;
  box-shadow: 2px 2px 1px;
  background-color: #A1FFAD;
}


.content{
  vertical-align: top;
  max-height: 400px;
}

.updates{
  display: inline-block;
  /*height: 400px;*/
  width: 49%;
}

.update_entry{
  list-style: none;
  margin-top: 9px;
  background-color: #4790A6;
  font-size: 200%;
  color: #C4C4C4;
  border-radius: 5px 10px;
}

.update_entry:hover{
  background-color: #75DDFF;
  color: black;
}

.problems{
  display: inline-block;
  /*height: 400px;*/
  width: 49%;
  float: right;
  margin-right: 10px;
}

#signuplink{
  margin-top: 0px;
  margin-left: 15px;
  color: white;
}

.emails{
  text-align: center;
  width: 75%;
  color: black;
}

.linkable:hover > p{
  background-color: #75DDFF;
}

.linkable p{
  text-align: center;
  background-color: #4790A6;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 71px;
  font-size: 150%;
  line-height: 280%;
  border-radius: 5px 10px;
}
