/**
	Rowland's changes

**/
.acm-navbar {
	background: #000;
	width: 100%;
}

div.banner {
	height: 400px;
	width: 100%;
	margin-top: 0px;
	background: url("../images/hall_pearce.png") no-repeat center center;
	-webkit-background-size: contain;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;
}

a:HOVER{
	text-decoration: none;
}

form.form label{
	display: block;
	margin-top: 30px;
	margin-bottom: 5px;
}

form.form p {
	display: block;
    height: 2.125rem;
    line-height: 1;
    margin: 0.325rem 0;
    min-height: 2.125rem;
    position: relative;
    vertical-align: middle;
}

form.form input, form.form select{
	border: 1px solid #d9d9d9;
    height: 100%;
    padding: 0.3125rem;
    position: relative;
    width: 40%;
    z-index: 0;
    margin-top: 5px;
    margin-bottom: 20px;
}

form.form input[type="submit"]{
    margin-top: 45px;
    margin-bottom: 20px;
}

form.form input[type="checkbox"]{
   height: 0.0625rem;
    width: 0.0625rem;
}



/** End Rowland's changes

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background: url("../images/random_grey_variations.png") repeat;
  color: #ffffff;
}

x.title{
  margin-top: 10px;
  margin-left: 50px;
  font-size: 370%;
  margin-bottom: 55px;
  padding-left: 25px;
  width: 45%;
  background-color: #6399AB;
  border-radius: 25px 10px;
  border: 1px black solid;
}

.child_title{
    background-color: #6399AB;
    text-align: center;
    font-size: 150%;
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin-bottom: 25px;
}

.signup{
  font-size: 150%;
  width: 600px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: auto;
  background-color: #0082AD;
  border-radius: 5px 5px 5px 5px;
  padding: 20px 0px 20px 20px;
}

.register_links{
  font-size: 150%;
  margin-bottom: 25px;
}

label{
  display: inline-block;
  width: 370px;
}

input{
  display: inline-block;
}

.signup-btn{
  display: block;
  margin-left: 480px;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  font-size: 90%;
  box-shadow: 2px 2px 1px;
  background-color: #A1FFAD;
}


.content{
  vertical-align: top;
  max-height: 400px;
}

.updates{
  display: inline-block;
  /*height: 400px;
  width: 49%;
}

.update_entry{
  list-style: none;
  margin-top: 9px;
  background-color: #4790A6;
  font-size: 200%;
  color: #C4C4C4;
  border-radius: 5px 10px;
}

.update_entry:hover{
  background-color: #75DDFF;
  color: black;
}

.problems{
  display: inline-block;
  /*height: 400px;
  width: 49%;
  float: right;
  margin-right: 10px;
}

#signuplink{
  margin-top: 0px;
  margin-left: 15px;
  color: white;
}

.emails{
  text-align: center;
  width: 75%;
  color: black;
}

.linkable:hover > p{
  background-color: #75DDFF;
}

.linkable p{
  text-align: center;
  background-color: #4790A6;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 71px;
  font-size: 150%;
  line-height: 280%;
  border-radius: 5px 10px;
}**/
