body{
  background: url("../images/random_grey_variations.png") repeat;
  color: #ffffff;
}

.title{
  margin-top: 10px;
  margin-left: 50px;
  font-size: 370%;
  margin-bottom: 55px;
}

form{
  font-size: 150%;
  width: 600px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: auto;
  background-color: #0082AD;
  border-radius: 5px 5px 5px 5px;
  padding: 20px 0px 20px 20px;
}

label{
  display: inline-block;
  width: 370px;
}

input{
  display: inline-block;
}

input[type=submit]{
  display: block;
  margin-left: 480px;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  font-size: 90%;
  box-shadow: 2px 2px 1px;
  background-color: #A1FFAD;
}

.feed{
  margin-left: 150px;
  margin-top: 100px;
  font-size: 150%;
}

.feed p{
  font-size: 120%;
}

.feed ul{
  list-style: none;
}

.feed > .entry{
  background-color: white;
  color: black;
  border-radius: 5px 5px 5px 5px;
  width: 500px;
  padding: 10px 10px 10px 30px;
}

#signuplink{
  margin-top: 50px;
  margin-left: 50px;
  font-size: 200%;
  color: white;
}