{% extends "base.html" %}
{% block content %}
<div class="grid">
	<div class="row cells12">
		<div class="cell colspan8">
			<div class="panel">
		    	<div class="heading bg-darkMagenta">
		    		<span class="icon mif-feed3 bg-yellow"></span>
		    		<span class="title">Official News Feed</span>
		    	</div>
			      <div class="content">
			        <div class="listview-outlook" data-role="listview">
			        	{% for update in updates %}
				            <div class="list">
				            	<div class="list-content">
					            	<span class="list-title">When: {{ update.when }}</span>
						            <span class="list-subtitle">Where: {{ update.where }}</span>
						            <span class="list-remark">What: {{ update.what }}</span>
					            </div>
				            </div>
			          	{% endfor %}
			        </div>
			      </div>
			  </div>
		</div>
		<div class="cell colspan4">
			<div class="panel">
	      		<div class="heading bg-darkMagenta">
	      			<span class="icon mif-file-code bg-yellow"></span>
		    		<span class="title">Links/Programming Problems</span>
		    	</div>
		    	<div class="content">
		    		{% for link in links %}
			          <a href="{{ link.link }}" class="linkable">
			            <p>{{ link.title }}</p>
			          </a>
			        {% endfor %}
		    	</div>

	      </div>
		</div>
	</div>
</div>
{% endblock %}
