{% extends "base.html" %}
{% block content %}
<header class="title">ACM - AITP<br>CMU '15 - '16 Chapter</header>

<div class="feed">
    <a id="signuplink" href="{% url 'signup' %}">Register for our emails!</a>
    <div class="titles">
        <p>Official News Feed</p>
        <p>Links/Programming Problems</p>
    </div>
    <div class="data">
      <div class="updates">
        {% for update in updates %}
        <ul class="update_entry">
          <li>{{ update.when }}</li>
          <li>{{ update.where }}</li>
          <li>{{ update.what }}</li>
        </ul>
        {% endfor %}
      </div>
      <div class="problems">
        {% for link in links %}
        <ul class="prob_entry">
            <li><a href="{{ link.link }}">{{ link.title }}</a></li>
        </ul>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}
