{% extends "base.html" %}
{% block content %}
<header class="title">ACM - AITP<br>CMU '15 - '16 Chapter</header>

<div class="feed">
    <div class="register_links">
      <a id="signuplink" href="{% url 'signup' %}">Register for our emails!</a>
      <a id="signuplink" href="{% url 'emails' %}">Registered Students</a>  
    </div>
    
    <div class="content">
      <div class="updates">
        <p class="child_title">Official News Feed</p>
          {% for update in updates %}
          <ul class="update_entry">
            <li>When: {{ update.when }}</li>
            <li>Where: {{ update.where }}</li>
            <li>What: {{ update.what }}</li>
          </ul>
          {% endfor %}
      </div>
      <div class="problems">
        <p class="child_title">Links/Programming Problems</p>
          {% for link in links %}
          <a href="{{ link.link }}" class="linkable">
            <p>{{ link.title }}</p>
          </a>
          {% endfor %}
      </div>
    </div>
</div>
{% endblock %}
